 
 body {
    font-family: 'Open Sans', sans-serif;
    
    }
 
 /*Header */
header {
     text-align: center;
     font-style: italic;
     color: brown;
}
 /*section*/
 section h2{
     color: #FB3511;    
     font-style: italic;
     text-align: center;
 }
  .gridfloat{
   width: 90%;
    margin: 0 auto;
    padding-left: 0px;
    clear:both;
}
 /*grid-item*/
.grid-item {
    width: 29%;
    float: left;
    border: 1px solid
    #ccc;
    padding: 10px;
    margin: 10px;
    min-height: 500px;
    display: block;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);background-size: cover;
    border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  border-radius: 25px;
  
  }
     .grid-item h3{
        text-align: left;
        font-size: 1rem;
    padding: 1rem 2.5rem;
    background-color: #FB3511;
     color: #FFFf;
     }
     
    .grid-item img {
        width: 100%;
        height: auto;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .grid-item:hover img {
        width: 350px;
    }
    
    .grid-item p{
         text-align: justify;
         flex: 1 1 auto;
         font-size: 0.875rem;
         line-height: 1.5;
         margin-bottom: 0.25rem;
         }
 /* grid-flexbox*/
 .grid-flexbox{
    width: 90%;
    margin: 0 auto;
    padding-left: 0px;
     clear:both; 
}
/*section*/
section h2{
    color:#e22b45;
}
section {
display:inline-block;
}
/*grid-item*/
.grid-item {
    width: 29%;
    float: left;
    border: 1px solid
    #ccc;
    padding: 10px;
    margin: 10px;
    min-height: 500px;
    display: inline;
    }
     .grid-item h3{
        text-align: left;
     }
     .grid-item img{
         width:100%;
     }
     .grid-item p{
         text-align: justify;
     }

/*media queries */

/*Mobile Query*/
@media only screen and (max-width:600px) {
   .grid-item {
    width:72%;
    }
}

/*Tablet Query*/
@media only screen and (min-width:600px) and (max-width:1024px) {
     .grid-item{
        width: 25.3%;
     }
        }
/*Desktop Query*/
@media only screen and (max-width: 1024) { 
    .grid-item{
     width:25%    
    }
}
